@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
	font-family: 'Average', serif;
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen ', sans-serif;
}

.navbar {
	font-family: 'Oxygen', sans-serif;
	padding-right: 10px;
	height: 50px;
}

.navbar-brand img {
	left: 0px;
	max-height: 30px;
	width: 200px;
}

.navbar-collapse {
	background: #222222;
}

.navbar-collapse .active {
	background: #080808;
}

#footer {
	background: #000000;
	color: #A0A0A0;
	text-align: center;
	padding-top: 10px;
}

.jumbotron {
	background: rgba(255, 255, 255, .6);
	position: relative;
	background-attachment: fixed;
	z-index: 1;
}

#bgimg {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: -1;
	background-attachment: fixed;
}

#bgimg img{
	position: relative;
	width: 100%;
	left: 0px;
}


#parallaxText {
	position: relative;
	background-attachment: fixed;
	margin-left: 10%;
	margin-right: 10%;
}

#newsfeed {
	position: relative;
	padding-bottom: 55px;
	overflow-y: auto;
}

.list-group .active {
	background: #E0E0E0;
}

.article {
	padding-left: 15%;
	padding-right: 15%;
}

.newsfeed-articles {
	padding-top: 60px;
}

.newsfeed-title {
	width: 100%;
	min-height: 55px;
	position: fixed;
	z-index: 2;
}