@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
	font-family: 'Average', serif;
	padding-top: 55px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen ', sans-serif;
}

.navbar {
	font-family: 'Oxygen', sans-serif;
	padding-right: 10px;
	height: 55px;
}

.navbar-brand img {
	left: 0px;
	max-height: 30px;
}

#footer {
	background: #000000;
	color: #A0A0A0;
	text-align: center;
	padding-top: 10px;
}

.jumbotron {
	background: rgba(255, 255, 255, .6);
	position: relative;
	background-attachment: fixed;
}

#bgimg {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: -1;
	background-attachment: fixed;
}

#bgimg img{
	position: relative;
	width: 100%;
	left: 0px;
}

#parallaxText {
	position: relative;
	background-attachment: fixed;
}

#newsfeed {
	padding-bottom: 55px;
	overflow-y: auto;
}

.mobile body {
  overflow: hidden;
  padding-top: 200px;
}

.mobile #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

