@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato', serif;
	padding-top: 50px;
	font-weight: 300;
}

a {
	color: #000000;
}

a:hover {
	color: #606060;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.navbar {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-right: 10px;
	height: 50px;
}

.jumbotron p{
	font-size: 120%;
}

.navbar-brand img {
	left: 0px;
	max-height: 30px;
	width: 200px;
}

.navbar-collapse {
	background: #222222;
}

.navbar-collapse .active {
	background: #080808;
}

#footer {
	background: #000000;
	color: #A0A0A0;
	text-align: center;
	padding-top: 10px;
}

.jumbotron {
	background: rgba(255, 255, 255, .7);
	position: relative;
	background-attachment: fixed;
	z-index: 1;
}

#bgimg {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: -1;
	background-attachment: fixed;
}

#bgimg img{
	position: relative;
	width: 100%;
	left: 0px;
}


#parallaxText {
	position: relative;
	background-attachment: fixed;
	margin-left: 15%;
	margin-right: 15%;
}

#newsfeed {
	position: relative;
	padding-bottom: 55px;
	overflow-y: auto;
}

.list-group .active {
	background: #E0E0E0;
}

.article {
	padding-left: 15%;
	padding-right: 15%;
}

.newsfeed-articles {
	padding-top: 60px;
}

.newsfeed-title {
	width: 100%;
	min-height: 55px;
	position: fixed;
	z-index: 2;
}

.newsfeed-title h3 {
	max-width: 100%;
}

.social-media-share {
	display: inline;
}

.twitter-fix {
	padding-top: 15px;
}